.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}

.header h1 {
  font-size: 3em;
  font-weight: bold;
}

.header li {
  display: inline-block;
  list-style: none;
}

.header a{
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px;
  text-decoration: none;
}

.header a:hover {
  color: #c78c19;
  text-decoration: underline;
}

@media (max-width: 1115px) {
  .header h1 {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column
  }

  .header nav {
    margin: 1em 0px;
  }
}